<div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
  <app-header class="demo-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
  </app-header>
  <div class="demo-ribbon"></div>
  <main class="demo-main mdl-layout__content" style="min-height:100%">
    <book-collection-app> </book-collection-app>
    <app-footer class="demo-footer mdl-mini-footer"></app-footer>
  </main>
</div>
<a href="https://angular.io/" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">Read More</a>
